
    <h1>AJAX Call Tutorial</h1>
    <button class="btn btn-secondary m-3" id="get-button">READ/GET Products</button>
    <form id="create-form">
        <input type="text" id="create-input">
        <button class="btn btn-info">Create/POST</button>
    </form>
    <hr>
    <table class="table w-50 m-auto">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <hr class="text-bold text-light">
    <script src="scripts.js"></script>

