body{
    background-image: linear-gradient(to top,gray,pink);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}
hr{
    text-align: center;
    color:white;
    height: 4px;
}